{% extends "base.html" %}

{%block content%}
<style>    body {background-color: #E4C8E6
    ;}
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #E4C8E6;
        color: #333;
        margin: 0;
        padding: 0;
    }
    </style>
<body>
    
        <h1><center>Olá seja bem vindo(a)!</center></h1>
        <h2><center>Bem vindo a loja de Arthur e Victor, nôs criamos com muito carinho e orgulho, sinta-se a vontade para comprar qualquer coisa e aproveitar as promoções</center></h2>
        
        <h1><center>----------------------------------------------------------------------------------------------------------</center></h1>
    
        <h1><center>Hello welcome!</center></h1>
        <h2><center>Welcome to Arthur and Victor's store, we created it with great care and pride, feel free to buy anything and take advantage of the promotions</center></h2>

        <h1><center>----------------------------------------------------------------------------------------------------------</center></h1>

        <h1><center>¡Hola bienvenido!</center></h1>
        <h2><center>Bienvenidos a la tienda de Arthur y Victor, la creamos con mucho mimo y orgullo, siéntete libre de comprar cualquier cosa y aprovechar las promociones.</center></h2>

</body>

{% endblock %}